//colors
$color-primary: #5c33af;
$color-primary-light: #673AB7;
$color-primary-dark: #512DA8;
$color-secondary: #29323c;
//$color-secondary-dark: ;
//$color-tertiary-light: ;
//$color-tertiary-dark: ;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #eeeeee;


$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

//font sizes
$default-font-size: 1.75rem;

//radius
$border-radius: 3px;