<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/style.css">
       
        <title>Starter &mdash; Ready to go!</title>
    </head>
    <body>
        <h1>Ready to be something amazing!</h1>
       
        <script rel="stylesheet" type="text/javascript" src="js/"></script>
    </body>
    </html>