/*
====================
MEDIA QUERY MANAGER

0 - 600px    Phone
600 - 900px  Tablet Portrait
900 - 1200   Tablet Landscape
1800 - +     Big Desktops

====================

Breakpoiny arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

====================

ORDER 
1. Base and Typography
2. General layout and Grid
3. Page layout
4. Components

====================
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.75rem;
  background-color: snow; }

.u-center-text {
  text-align: center !important; }

.mb-s {
  margin-bottom: 1rem !important; }

.mb-m {
  margin-bottom: 4rem !important; }

.mb-l {
  margin-bottom: 8rem !important; }

.mt-l {
  margin-top: 6rem !important; }

.mt-xl {
  margin-top: 11rem !important; }

.ml-md {
  margin-left: 3rem !important; }
