.u-center-text {
	text-align: center !important;
}

.mb-s {
	margin-bottom: 1rem !important;
}

.mb-m {
	margin-bottom: 4rem !important;
}

.mb-l {
	margin-bottom: 8rem !important;
}

.mt-l {
	margin-top: 6rem !important;
}

.mt-xl {
	margin-top: 11rem !important;
}

.ml-md {
	margin-left: 3rem !important;
}
